{% extends 'struct/base.html' %}
{% load math_filters %}
{% block title %}Project list{% endblock %}

{% block content %}
{% if perms.timesheets.add_subproject %}
<p>
    <a class="ico_add" href="{% url 'timesheets:project_new' %}">new project</a>
</p>
{% endif %}
<table>
    <tr>
        <th colspan="2">Project</th>
        <th>Subrojects</th>
        <th>Hours</th>
        <th></th>
    </tr>
    {% for project in object_list %}
    <tr>
        <td>{{ project.initials|upper }}</td>
        <td>{{ project.name }}</td>
        <td>{{ project.subprojects.count }} - <a class="ico_view" href="{% url 'timesheets:subproject_list' project=project.id %}">view</a></td>
        <td>{{ project.total_hours|fhours }} - <a class="ico_view" href="{% url 'timesheets:home' project=project.id %}">view</a></td>
        <td><a class="ico_edit" href="{% url 'timesheets:project_edit' pk=project.id %}">edit</a><a class="ico_delete inline_delete" href="{% url 'timesheets:project_delete' pk=project.id %}">delete</a></td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
