{% extends 'struct/base.html' %}
{% load math_filters %}
{% block title %}Project list{% endblock %}

{% block content %}
{% if perms.timesheets.add_subproject %}
<p>
    <a class="ico_add" href="{% url 'timesheets:subproject_new' %}">new subproject</a>
</p>
{% endif %}
{% if project %}<p>Only showing subprojects for {{ project }}</p>{% endif %}
<table>
    <tr>
        <th>Project</th>
        <th colspan="2">Subproject</th>
        <th>Hours</th>
        <th></th>
    </tr>
    {% for subproject in object_list %}
    <tr>
        <td>{{ subproject.parent_project }}</td>
        <td>{{ subproject.initials|upper }}</td>
        <td>{{ subproject.name }}</td>
        <td>{{ subproject.total_hours|fhours }}</td>
        <td><a class="ico_edit" href="{% url 'timesheets:subproject_edit' pk=subproject.id %}">edit</a><a class="ico_delete inline_delete" href="{% url 'timesheets:subproject_delete' pk=subproject.id %}">delete</a></td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
