{% extends 'struct/base.html' %}
{% load math_filters %}

{% block title %}Timesheet{% endblock %}

{% block content %}
<ul class="employee_legend">
    {% if employees|length > 1 %}<p>Filter by employee:</p>{% else %}<p>Legend:</p>{% endif %}
    {% for employee in employees %}
    <li style="background-color: {{ employee.color }};"><a class="ico_filter" href="{% url 'timesheets:timesheet_by_employee' employees=employee.user.username %}">{{ employee.user.username }}</a></li>
    {% endfor %}
    {% if 'employee' in filter_by %}<li><a class="ico_filter_nofilter" href="#">reset</a></li>{% endif %}
</ul>
<p>From {{ start_date|date:"D j M Y" }} to {{ end_date|date:"D j M Y" }}</p>
<table class="project_table table table-hover">
    <thead>
        <tr>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
        </tr>
        <tr>
            <th>Project</th>
            <th>Hours</th>
        </tr>
    </thead>
    <tbody>
        {% for record in timesheet %}
        {% ifchanged record.project %}
        <tr>
            <td class="project_cell">
                {{ record.project.initials|upper}} - {{ record.project.name }}
                <span class="bubble">
                    {% if perms.timesheets.change_project %}<a href="{% url 'timesheets:project_edit' pk=record.project.id %}" class="ico_edit">Edit</a>{% endif %}
                    {% if perms.timesheets.delete_project %}<a href="{% url 'timesheets:project_delete' pk=record.project.id %}" class="ico_delete inline_delete">Delete</a>{% endif %}
                </span>
            </td>
            <td class="hours_project_cell">{{ record.total_hours_by_project|fhours }}</td>
        </tr>
        {% endifchanged %}
        <tr class="{% cycle "" "alt" %}">
            <td class="subproject_cell">
                {{ record.subproject.initials|upper}} - {{ record.subproject.name }}
                <span class="bubble">
                    {% if perms.timesheets.change_subproject %}<a href="{% url 'timesheets:subproject_edit' pk=record.subproject.id %}" class="ico_edit">Edit</a>{% endif %}
                    {% if perms.timesheets.delete_subproject %}<a href="{% url 'timesheets:subproject_delete' pk=record.subproject.id %}" class="ico_delete inline_delete">Delete</a>{% endif %}
                </span>
                </td>
            <td class="hours_subproject_cell">{{ record.total_hours_by_subproject|fhours }}</td>
        </tr>
        {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <td class="project_cell">Total</td>
            <td class="timesheet_total_cell">{{ total|fhours }}</td>
        </tr>
    </tfoot>
</table>

<table class="timesheet_table table table-hover">
    <thead>
        <tr>
            {% for day in days %}
            <th colspan="{{ employees|length|add:"1" }}">{{ day|date:"W" }}</th>
            {% endfor %}
        </tr>
        <tr>
            {% for day in days %}
            <th colspan="{{ employees|length|add:"1" }}">{{ day|date:"D j" }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for record in timesheet %}
        {% ifchanged record.project %}
        <tr>
            {% for day in days %}
            <td class="project_hours_cell" colspan="{{ employees|length|add:"1" }}">&nbsp;{{ record.total_hours_by_project|fhours }}</td>
            {% endfor %}
        </tr>
        {% endifchanged %}
        <tr class="{% cycle "" "alt" %}">
            {% for day in record.timesheet %}
                {% for line in day.timerecords %}
                <td class="employee_hour_tag" style="color: #eee; background-color: {{ line.employee.color }};">
                    {{ line.hours|fhours }}
                    <span class="bubble">{{ line.employee.user.username }}
                        <a class="but_edit" href="{% url 'timesheets:timerecord_edit' pk=line.id %}">Edit</a>
                        <a class="but_delete inline_delete" href="{% url 'timesheets:timerecord_delete' pk=line.id %}">Delete</a>
                    </span>
                </td>
                    {% if forloop.last and forloop.counter < employees|length %}
                        {% for e in employees %}
                            {% if forloop.parentloop.counter|add:forloop.counter <= employees|length %}<td class="empty_hour_tag">&nbsp;</td>{% endif %}
                        {% endfor %}
                    {% endif %}
                {% empty %}
                    {% for e in employees %}
                        <td class="empty_hour_tag">&nbsp;</td>
                    {% endfor %}
                {% endfor %}
                <td class="subproject_hours_cell">{{ day.total_hours|fhours }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            {% for days in total_hours %}
                {% for total in days %}
                    <td class="employee_hour_tag" style="color: #eee; background-color: {{ total.employee.color }};">{{ total.total_hours|fhours }}</td>
                    {% if forloop.last and forloop.counter < employees|length %}
                        {% for e in employees %}
                            {% if forloop.parentloop.counter|add:forloop.counter <= employees|length %}<td class="empty_hour_tag">&nbsp;</td>{% endif %}
                        {% endfor %}
                    {% endif %}
                {% empty %}
                    {% for e in employees %}
                        <td class="empty_hour_tag">&nbsp;</td>
                    {% endfor %}
                {% endfor %}
                <td class="subproject_hours_cell">{{ total.total_hours|fhours }}</td>
            {% endfor %}
        </tr>
    </tfoot>
</table>
{% endblock %}

{% block javascript_end %}
{{ block.super }}
<script src="{{ STATIC_URL  }}js/jquery.confirm.js"></script>
<script type="text/javascript">
function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie != '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) == (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}

$(function() {

    var csrftoken = getCookie('csrftoken');

    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
    $.ajaxSetup({
        crossDomain: false, // obviates need for sameOrigin test
        beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type)) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });

    $(".inline_delete").confirm({
        text: "Are you sure?",
        confirm: function(button) {
            $.post(this.href, function(data) {
                if (data.result == "ok"){
                    location.reload();
                } else {
                    // handle error processed by server here
                    alert("smth goes wrong");
                }
            }).fail(function() {
                // handle unexpected error here
                alert("error");
            });
            return false;
        },
        cancel: function(button) {
            return false;
        },
        confirmButton: "Yes I am",
        cancelButton: "Cancel",
        confirmButtonClass: "btn-danger",
        cancelButtonClass: "btn-info"
    });
    $("#id_date").datepicker();
});
</script>
{% endblock %}
