body {
    background: url('/static/img/bg3.jpg') fixed center no-repeat #fff;
    background-size: cover;
    width: 90%;
    margin: 0px auto;
    padding: 0px;
}

#header {
    background-image: url('/static/img/header.png'), url('/static/img/horas.png');
    background-repeat: repeat-x, no-repeat;
    background-position: bottom, 2% 10%;
    background-color: rgba(255, 255, 255, 0.05);
    box-sizing: content-box;
    height: 101px;
    margin: 0px auto;
    padding: 0px 30px;
    padding-top: 0px;
    text-align: center;
}
#header p#session {
    display: inline-block;
    padding: 6px 10px;
    margin: auto;
    font-family: monospace;
    font-size: 0.85em;
    border: 1px solid rgba(0, 0, 0, 0.12);
    background: rgba(0, 0, 0, 0.06);
    border-top: 0px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}
#header p#session a {
    color: rgba(0, 0, 0, 0.6);
    text-decoration: none;
    transition: color 500ms ease, background-color 250ms ease;
    -webkit-transition: color 500ms ease, background-color 250ms ease;
}
#header p#session a:hover {
    color: rgba(0, 0, 0, 1);
}

/* Menu */

ul#menu {
    background: url('/static/img/menu.png') repeat-x bottom transparent;
    margin: 0px;
    float: left;
    width: 12em;
    height: auto;
    padding: 1em;
    list-style-type: none;
    font-family: monospace;
}

form#search {
    display: list-item;
    padding: 0px;
    margin: 0px;
    margin-bottom: 4px;
    text-align: center;
}
form#search input {
    -webkit-appearance: none;
    box-sizing: content-box;
    display: inline-block;
    width: auto;
    padding: 2px 4px;
    margin: 0px;
    color: rgba(0, 0, 0, 0.6);
    background-color: rgba(0, 0, 0, 0.03);
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 0px;
    height: 19px;
    font-family: monospace;
}
form#search input:first-child {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom: 0px;
    text-align: left;
    width: 107px;
}
form#search input:last-child {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    width: 107px;
    height: auto;
}

ul#menu a, ul#menu a:hover {
    display: block;
    padding: 0.25em 0.5em;
    color: rgba(0, 0, 0, 0.6);
    text-decoration: none;
    font-family: monospace;
    font-size: 1.1em;
    background-color: rgba(255, 255, 255, 0.3);
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-top: 0px;
}

ul#menu a, ul#menu input {
    transition: color 500ms ease, background-color 250ms ease;
    -webkit-transition: color 500ms ease, background-color 250ms ease;
}

ul#menu a:hover, ul#menu input:hover {
    color: rgba(255, 255, 255, 0.9);
    background-color: rgba(0, 0, 0, 0.3);
}
ul#menu input:first-child:focus, ul#menu input:first-child:hover {
    color: rgba(0, 0, 0, 0.9);
    background-color: rgba(0, 0, 0, 0.15);
}


ul#menu .separator {
    background: url('/static/img/menu.png') repeat-x bottom transparent;
    height: 1px;
    width: 3em;
    margin: 0.25em auto;
}

ul#menu > li.separator + li >a {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

ul#menu > li:first-child > a, ul#menu > li.separator + li >a {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-top: 1px solid rgba(0, 0, 0, 0.12);
}

ul#menu > li:first-child > a,
ul#menu > li:last-child > a,
ul#menu > li:nth-child(5) >a,
ul#menu > li:nth-child(9) >a {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

/* Contenu */

#content {
    background-color: rgba(255, 255, 255, 0.3);
    min-height: 550px;
    margin: 0px;
    padding: 5px;
}
#content > *{
    margin: 0px;
    margin-left: 13em;
    margin-right: 0.5em;
    padding: 0.5em;
    font-family: monospace;
}

#content a, #content a:hover {
    color: #666;
    text-decoration: underline;
}
#content a:hover {
    color: #000;
}
#content .float {
    float: right;
}

#footer {
    background: url('/static/img/footer.png') repeat-x transparent;
    background-color: rgba(0, 0, 0, 0.1);
    min-height: 10em;
    margin: 0px;
    padding: 0px 30px;
    padding-top: 20px;
    clear: both;
    text-align: right;
    color: #fff;
    font-family: monospace;
    font-size: 0.8em;
}

/* Tables */

#content table {
    border-collapse: collapse;
    empty-cells: hide;
    width: auto;
    font-family: monospace;
    display: block;
    padding: 10px;
    background: rgba(255, 255, 255, 0.3);
    overflow-x: scroll;
}
#content table.project_table {
    float: left;
    margin-left: 20px;
    margin-right: 0px;
    padding-right: 0px;
    overflow-x: auto;
}
#content table.timesheet_table {
    margin-left: 0px;
    padding-left: 0px;
}

#content table tr {
    width: auto;
    background: rgba(0, 127, 255, 0.02);
}

#content table td.alt, #content table tr.alt {
    background: rgba(0, 127, 255, 0.1);
}
#content table tr th {
    font-weight: bold;
    font-size: 0.9em;
    padding: 2px 5px;
    background: rgba(50, 175, 255, 0.08);
    height: 1.25em;
}
#content table td {
    empty-cells: hide;
    border: 1px solid rgba(0, 0, 0, 0.5);
    padding: 2px 5px;
    height: 1.25em;
}

#content table td.project_hours_cell, #content table td.subproject_hours_cell {
    font-style: italic;
    text-align: center;
}
#content table td.subproject_hours_cell {
    text-align: right;
    font-weight: bold;
}

#content table td.project_cell {
    min-width: 20em;
}
#content table td.subproject_cell {
    padding-left: 2em;
}
#content table td.employee_hour_tag, #content table td.empty_hour_tag {
    display: table-cell;
    min-width: 2.5em;
}
span.bubble {
    display: none;
    border: 1px solid #eee;
    background: rgba(0, 0, 0, 0.4);
    color: #eee;
    padding: 2px 0px;
    width: 3em;
}
td.employee_hour_tag {
    position: relative;
}
td.employee_hour_tag:hover span.bubble {
    display: inline-block;
    opacity: 1;
    position: absolute;
    bottom: -1.3em;
    right: -1em;
}
#content table td.empty_hour_tag {
    border-left: none;
    border-right: none;
}


#content table td.employee_hour_tag, #content table td.seance_spectacle, #content table td.taux_spectacle, #content table td.taux_spectacle_taux {
    padding: 2px 10px;
    text-align: center;
    box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.2) inset;
    text-shadow: 1px 1px 2px rgba(0,0,0, 0.2);
}
#content table td.taux_spectacle_taux {
    font-style: normal;
}
#content table td.table_actions {
    text-align: center;
}

#content table td.taux_spectacle_taux, #content table td.taux_seance_taux {
    font-size: 0.8em;
}

#content table td meter {
    display: inline-block;
    background: rgba(0, 0, 0, 0.03);
    height: 0.9em;
    width: 20em;
    -webkit-appearance: none;
}
#content table td meter::-webkit-meter-bar {
    background: #eee;
    border: 1px solid rgba(0, 0, 0, 0.06);
    border-radius: 1px;
}
#content table td meter::-webkit-meter-optimum-value {
    background: rgba(0, 255, 0, 0.7);
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 2px;
}

#content table td meter::-webkit-meter-suboptimum-value {
    background: rgba(255, 0, 0, 0.7);
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 2px;
}

#content table td meter::-webkit-meter-even-less-good-value {
    background: rgba(255, 0, 127, 0.7);
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 2px;
}

#content ul.employee_legend p {
    display: inline-block;
    margin: 0;
}
#content ul.employee_legend li {
    display: inline-block;
    width: 3em;
    border: 1px solid rgba(0, 0, 0, 0.5);
    color: #eee;
    padding: 5px 10px;
    text-align: center;
    box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.2) inset;
    text-shadow: 1px 1px 2px rgba(0,0,0, 0.2);
}
#content ul.employee_legend li a {
    display: block;
    color: inherit;
    text-decoration: none;
}
#content ul.employee_legend li:hover a {
    color: inherit;
    text-decoration: underline;
}
