body {
    background: url('/static/img/bg3.jpg') fixed center no-repeat #fff;
    background-size: cover;
    width: 90%;
    margin: 0px auto;
    padding: 0px;
}

#header {
    background-image: url('/static/img/header.png'), url('/static/img/horas.png');
    background-repeat: repeat-x, no-repeat;
    background-position: bottom, 2% 10%;
    background-color: rgba(255, 255, 255, 0.05);
    box-sizing: content-box;
    height: 101px;
    margin: 0px auto;
    padding: 0px 30px;
    padding-top: 0px;
    text-align: center;
}
#header p#session {
    display: inline-block;
    padding: 6px 10px;
    margin: auto;
    font-family: monospace;
    font-size: 0.85em;
    border: 1px solid rgba(0, 0, 0, 0.12);
    background: rgba(0, 0, 0, 0.06);
    border-top: 0px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}
#header p#session a {
    color: rgba(0, 0, 0, 0.6);
    text-decoration: none;
    transition: color 500ms ease, background-color 250ms ease;
    -webkit-transition: color 500ms ease, background-color 250ms ease;
}
#header p#session a:hover {
    color: rgba(0, 0, 0, 1);
}

/* Menu */

ul#menu {
    background: url('/static/img/menu.png') repeat-x bottom transparent;
    margin: 0px 0.5em;
    float: left;
    width: 14em;
    height: auto;
    padding: 1em;
    list-style-type: none;
    font-family: monospace;
}

ul#menu a, ul#menu a:hover {
    display: block;
    padding: 0.25em 0.5em;
    color: rgba(0, 0, 0, 0.6);
    text-decoration: none;
    font-family: monospace;
    font-size: 1.1em;
    background-color: rgba(255, 255, 255, 0.3);
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-top: 0px;
}


ul#menu .separator {
    background: url('/static/img/menu.png') repeat-x bottom transparent;
    height: 1px;
    width: 3em;
    margin: 0.25em auto;
}

ul#menu > li.separator + li >a {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

ul#menu > li:first-child > a, ul#menu > li.separator + li >a {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-top: 1px solid rgba(0, 0, 0, 0.12);
}

ul#menu > li:first-child > a,
ul#menu > li:last-child > a,
ul#menu > li:nth-child(5) >a,
ul#menu > li:nth-child(9) >a {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

/* Forms */

form {
    padding: 0px;
    margin: 0px;
    margin-bottom: 4px;
    text-align: left;
}
#content form label {
    display: inline-block;
    min-width: 8em;
    text-align: right;
}

form input, form select {
    box-sizing: content-box;
    display: inline-block;
    width: auto;
    padding: 0.4em 1em;
    color: #333;
    background-color: rgba(0, 0, 0, 0.03);
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 0.3em;
    font-family: monospace;
}
form input[type="checkbox"] {
    width: 30px;
    height: 30px;
    border: 0;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    -webkit-appearance: none;
    outline: 0;
}
form input[type=checkbox]:checked {
    background-image: url('data:image/svg+xml;utf-8,<svg xmlns:svg="http://www.w3.org/2000/svg" xmlns="http://www.w3.org/2000/svg" width="19" height="19" viewBox="0 0 19 19" id="svg2" version="1.1" xml:space="preserve"><rect style="opacity:1;fill:#000000;fill-opacity:0.03;fill-rule:evenodd;stroke:#000000;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:0.3" id="rect" width="19" height="19" x="0" y="0" rx="3" ry="3" /><path style="fill:#000000;fill-opacity:0.75;fill-rule:evenodd;stroke:none;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1" d="M 2.25,5.7 7.5,15 16,4 14,2 8,12 3,5 Z" id="checkmark" /></svg>');
}
form input[type=checkbox]:not(:checked) {
    background-image: url('data:image/svg+xml;utf-8,<svg xmlns:svg="http://www.w3.org/2000/svg" xmlns="http://www.w3.org/2000/svg" width="19" height="19" viewBox="0 0 19 19" id="svg2" version="1.1" xml:space="preserve"><rect style="opacity:1;fill:#000000;fill-opacity:0.03;fill-rule:evenodd;stroke:#000000;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:0.3" id="rect" width="19" height="19" x="0" y="0" rx="3" ry="3" /></svg>');
}
form input[type="submit"] {
    margin: 1em;
    margin-left: 2em;
}
#login_form form input[type="submit"] {
    margin: 2em;
    margin-left: 10em;
}
form ul {
    margin: 0px;
    padding: 0px;
}
form p {
    text-align: left;
}
#content #login_form {
    margin: 5em auto;
    width: 35em;
    border: solid 1px rgba(0, 0, 0, 0.5);
    background: rgba(255, 255, 255, 0.3);
}
#content .error {
    margin: 2em auto;
    margin-top: 0px;
    padding: 1em;
    border: solid 1px rgba(255, 255, 255, 0.5);
    background: rgba(255, 0, 0, 0.4);
}
#content #timesheet_form {
    background: rgba(255, 255, 255, 0.3);
    margin: 0px;
    padding: 0.5em;
}
#content #timesheet_form .error {
    margin: 2em auto;
    margin-top: 0px;
    padding: 1em;
    border: solid 1px rgba(255, 255, 255, 0.5);
    background: rgba(255, 0, 0, 0.4);
}

/* Contenu */

#page {
    background-color: rgba(255, 255, 255, 0.3);
}
#content {
    min-height: 550px;
    margin: 0em 0.5em;
    margin-left: 15em;
    padding: 5px;
}
#content > * {
    margin: 0em;
    padding: 0.5em;
    font-family: monospace;
    display: block;
    padding: 10px;
    background: rgba(255, 255, 255, 0.4);
}

#content a, #content a:hover {
    color: #666;
    text-decoration: underline;
}
#content a:hover {
    color: #000;
}
#content .float {
    float: right;
}

#footer {
    background: url('/static/img/footer.png') repeat-x transparent;
    background-color: rgba(0, 0, 0, 0.1);
    min-height: 10em;
    margin: 0px;
    padding: 0px 30px;
    padding-top: 20px;
    clear: both;
    text-align: right;
    color: #fff;
    font-family: monospace;
    font-size: 0.8em;
}

/* Tables */

#content table {
    border-collapse: collapse;
    empty-cells: hide;
    width: auto;
    overflow-x: scroll;
}
#content table.project_table {
    float: left;
    padding-right: 0px;
    overflow-x: auto;
}
#content table.timesheet_table {
    padding-left: 0px;
}

#content table tr {
    height: 2.25em;
    width: auto;
    vertical-align: middle;
    border: 1px solid #666;
    border-top: 0px;
    border-bottom: 0px;
    background: rgba(255, 255, 255, 0.15);
}
#content table tr:hover {
    background: rgba(255, 255, 255, 0.7);
}

#content table td.alt, #content table tr.alt {
    background: rgba(255, 255, 255, 0.25);
}
#content table tr.alt:hover {
    background: rgba(255, 255, 255, 0.8);
}
#content table th {
    font-weight: normal;
    text-align: center;
    font-size: 1.1em;
    padding: 2px 5px;
    background: rgba(255, 255, 255, 0.25);
    border: 1px solid #666;
    height: 1.25em;
}
#content table td {
    empty-cells: hide;
    border: 1px solid #666;
    padding: 3px 5px;
    height: 1.25em;
    vertical-align: inherit;
}

#content table.timesheet_table th {
    min-width: 7em;
}

#content table.project_table td.project_hours_cell {
    text-align: left;
    font-style: italic;
    width: 7em;
}
#content table.project_table td.subproject_hours_cell {
    text-align: right;
    width: 7em;
}
#content table.project_table td.timesheet_total_cell {
    font-weight: bold;
    text-align: center;
}
#content table.timesheet_table td.project_hours_cell {
    font-style: italic;
    text-align: center;
}
#content table.timesheet_table td.subproject_hours_cell {
    text-align: center;
    font-weight: normal;
}

#content table td.project_cell {
    min-width: 20em;
}
#content table td.subproject_cell {
    padding-left: 2em;
}
#content table td.employee_hour_tag, #content table td.empty_hour_tag, #content table td.subproject_hours_cell {
    display: table-cell;
    min-width: 4em;
}
#content table td.employee_hour_tag, #content table td.subproject_hours_cell {
    border: 1px solid rgba(0, 0, 0, 0.40);
}
span.bubble {
    display: none;
    border: 1px solid #eee;
    background: rgba(127, 127, 127, 0.90);
    color: #eee;
    padding: 0.25em;
    width: 6em;
    z-index: 1000;
}
span.bubble a {
    color: #fff;
}
td.employee_hour_tag {
    position: relative;
}
td.project_cell:hover span.bubble, td.supbroject_cell:hover span.bubble, td.employee_hour_tag:hover span.bubble {
    display: inline-block;
    opacity: 1;
    position: absolute;
}
td.project_cell span.bubble, td.subproject_cell span.bubble{
    /*float: left;*/
    width: 10em;
    margin: 0px;
    border: 0px;
}
td.project_cell:hover span.bubble, td.subproject_cell:hover span.bubble {
    display: block;
    opacity: 1;
    position: absolute;
}
#content table td.empty_hour_tag {
    border-left: none;
}


#content table td.employee_hour_tag, #page table td.seance_spectacle, #page table td.taux_spectacle, #page table td.taux_spectacle_taux {
    padding: 2px 10px;
    text-align: center;
    box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.2) inset;
    text-shadow: 1px 1px 2px rgba(0,0,0, 0.2);
}

/* Employee filters */

#content ul.employee_legend p {
    display: inline-block;
    margin: 0;
}
#content ul.employee_legend li {
    display: inline-block;
    width: 5em;
    border: 1px solid rgba(0, 0, 0, 0.5);
    color: #eee;
    padding: 5px 10px;
    text-align: center;
    box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.2) inset;
    text-shadow: 1px 1px 2px rgba(0,0,0, 0.2);
}
#content ul.employee_legend li a {
    display: block;
    color: inherit;
    text-decoration: none;
}
#content ul.employee_legend li:hover a {
    color: inherit;
    text-decoration: underline;
}

/* Quick add bar */

#content div#timerecord_quick_add ul {
    list-style-type: none;
}
#content div#timerecord_quick_add ul li {
    display: inline-block;
}
#content div#timerecord_quick_add input {
    margin: 0;
    margin-right: 1em;
}

/* Jogline */

#content p.jogline {
    background: rgba(0, 0, 0, 0.35);
    padding: 0.4em;
    display: flex;
}
#content p.jogline span {
    flex-grow: 1;
    display: inline-block;
    margin: 0px;
    padding: 0px;
}
#content p.jogline span.start_jogline, #content p.jogline span.end_jogline {
}
#content p.jogline span.now_jogline {
    text-align: center;
}
#content p.jogline span.end_jogline {
    text-align: right;
}
#content p.jogline a {
    text-decoration: none;
    padding: 0.25em 0.5em;
    margin: 0 0.3em;
    font-size: 0.75em;
    background: rgba(255, 255, 255, 0.35);
    border: 1px solid rgba(255, 255, 255, 0.6);
    transition: color 500ms ease, background-color 250ms ease;
    -webkit-transition: color 500ms ease, background-color 250ms ease;
}
#content p.jogline a:hover {
    border: 1px solid rgba(255, 255, 255, 0.3);
    background: rgba(255, 255, 255, 0.6);
}
